In [6]:
import pandas as pd
import os
import regex as re

In [7]:
# change this line:
work_dir = "/Users/gohyixian/Downloads"

# Dir: Dataset/Random_Topics

In [8]:
csv_path_01 = work_dir + "/NLP-Depression/Dataset/Random_Topics/"

# list of csv to extract column "title"
listz_01 = ["aww.csv",
            "food.csv", 
            "funny.csv", 
            "gifs.csv", 
            "movies.csv", 
            "pics.csv", 
            "todayilearned.csv", 
            "videos.csv", 
            "woahdude.csv", 
            "worldnews.csv"]

# list of csv to extract columns "title", "selftext"
listz_02 = ["AskReddit.csv", 
            "books.csv", 
            "explainlikeimfive.csv", 
            "GetMotivated.csv", 
            "IAmA.csv", 
            "Jokes.csv", 
            "LifeProTips.csv", 
            "Showerthoughts.csv"]

# everything will be appended to "df"
df = None

# extract column "title"
for filename in listz_01:
    current_path = csv_path_01 + filename
    current_df = pd.read_csv(current_path, index_col=None)
    current_df["class"] = pd.DataFrame(["normal"] * current_df.shape[0])
    current_df = pd.concat([current_df["title"], current_df["class"]], axis=1)
    df = pd.concat([df, current_df], axis=0)

    
# extract columns "title", "selftext"
for filename in listz_02:
    current_path = csv_path_01 + filename
    current_df = pd.read_csv(current_path, index_col=None)
    current_df["class"] = pd.DataFrame(["normal"] * current_df.shape[0])
    current_df = pd.concat([current_df["title"], current_df["class"]], axis=1)
    df = pd.concat([df, current_df], axis=0)
    
    current_df = pd.read_csv(current_path, index_col=None)
    current_df["class"] = pd.DataFrame(["normal"] * current_df.shape[0])
    current_df = pd.concat([current_df["selftext"], current_df["class"]], axis=1)
    # must rename columns before concat else unwanted 3rd column introduced
    current_df.columns = ["title", "class"]
    df = pd.concat([df, current_df], axis=0)

col1 = df.shape[0]
df.columns = ["text", "class"]
df = df[df["text"].notna()]
col2 = df.shape[0]
                              
# use sample (fraction=1.0) (all) to shuffle data
df = df.sample(frac=1)

print("OK", df.shape)
print(col1-col2, "rows are NAs")

OK (22293, 2)
3706 rows are NAs

In [9]:
df.head()

                                                  text   class
12   For my final post on Reddit from the Internati...  normal
466  Spanish train driver charged with 79 counts of...  normal
743  My parents are 80 years old and on a fixed inc...  normal
627  Cat gets a kiss from the vacuum it's licking.(...  normal
312  TIL Canada has specifically banned members of ...  normal

# Dir: Dataset/Positive_YouTube_Comments

In [10]:
csv_path_02 = work_dir + "/NLP-Depression/Dataset/Positive_Youtube_Comments/"
current_path_02 = csv_path_02 + "train.csv"
current_path_03 = csv_path_02 + "valid.csv"

current_df_02 = pd.read_csv(current_path_02, index_col=None)
current_df_03 = pd.read_csv(current_path_03, index_col=None)


current_df_02["class"] = pd.DataFrame(["normal"] * current_df_02.shape[0])
current_df_02 = current_df_02[["text", "class"]]

current_df_03["class"] = pd.DataFrame(["normal"] * current_df_03.shape[0])
current_df_03 = current_df_03[["text", "class"]]

current_df = pd.concat([current_df_02, current_df_03], axis=0)

col1 = current_df.shape[0]
current_df = current_df[current_df["text"].notna()]
col2 = current_df.shape[0]
                              
# use sample (fraction=1.0) (all) to shuffle data
current_df = current_df.sample(frac=1)

print("OK", current_df.shape)
print(col1-col2, "rows are NAs")
current_df.head()

OK (62296, 2)
0 rows are NAs

                                                    text   class
3711              alpha m makeovers are way better man ðŸ˜‚  normal
31675                  mars thanks alot for supporting ðŸ’—  normal
26471                      that looks and smells amazing  normal
17065                   i guess i like more feminine men  normal
49682  hey hey guys i need your help whats the songs ...  normal

# Export To CSV

In [11]:
df = pd.concat([df, current_df], axis=0)

# shuffle
df = df.sample(frac=1)

print(df.shape)

(84589, 2)

In [12]:
df.head()

                                                    text   class
130    Hi, I'm Chris Hansen. You might know me from m...  normal
53174  i have been living for many years 70km from sa...  normal
25004  loved it not so easy but i do this workout in ...  normal
1026                the crunching sound watered my mouth  normal
230    IAm Stoya, adult performer and generally naked...  normal

In [13]:
from pathlib import Path

export_dir = work_dir + "/NLP-Depression/Dataset/Normal_Cases.csv"

df = pd.DataFrame(df)
df.to_csv(path_or_buf=Path(export_dir), 
          sep=",", 
          na_rep="", 
          columns=["text", "class"], 
          index=False)
print("OK")

OK